* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 25px 200px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

/* .chart {

} */

.map-container {
  outline: 1px solid black;
  height: 350px;
  width: 100%;
  margin-bottom: 1rem;
}