@import url(http://fonts.googleapis.com/css?family=Raleway);
/*font-family: 'Roboto Slab', serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 25px 200px;
  display: flex;
  justify-content: center;
}

.chart-container {
  height: 250px;
  width: 400px;
  outline: 1px solid black;
}

.small-font {
  font-size: 12px;
}

.number {
  font-size: 20px;
}

p {
  margin-bottom: 0 !important;
}

.temp-container {
  display: flex;
  justify-content: space-between;
}

.temp-sub-container {
  display: flex;
  flex-direction: column;
}

#line-chart {
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
}

.chart {
  background-color: rgba(255, 255, 255, 0.9);
}

.map-container {
  height: 350px;
  width: 100%;
  margin-bottom: 1rem;
}

h2 {
  background-color: #feffed;
  padding: 30px 35px;
  margin: -10px -50px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
hr {
  margin: 10px -50px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-bottom: 40px;
}
.login-container {
  width: 900px;
  height: 610px;
  margin: 35px auto;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}
.login-main {
  width: 300px;
  padding: 10px 50px 25px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-inputs {
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  color: #4f4f4f;
  font-size: 16px;
  border-radius: 5px;
}
label {
  color: #464646;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  font-weight: bold;
}
center {
  font-size: 32px;
}
.note {
  color: red;
}
.valid {
  color: green;
}
.back {
  text-decoration: none;
  border: 1px solid rgb(0, 143, 255);
  background-color: rgb(0, 214, 255);
  padding: 3px 20px;
  border-radius: 2px;
  color: black;
}
input[type='button'] {
  font-size: 16px;
  background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
  border: 1px solid #e5a900;
  color: #4e4d4b;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  padding: 10px 0;
  outline: none;
}
input[type='button']:hover {
  background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#rightImage {
  bottom: 20px;
  right: 10px;
  width: 100px;
  position: fixed;
}
